.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
}

/* .flex1{
  flex: 50%;
}
.flex2{
  flex: 50%;
} */